{{> menu active="galleries"}}

<section class="section">
  <h1> Hello from MyAppMusems </h1>
  <p>
    Welcome to the Museum Gallery. 
    Our digital archive is designed to bring history to your fingertips. 
    This space is a living collection where curators can upload high-quality snapshots of artifacts and exhibits. 
    To maintain a fast and focused browsing experience, our gallery is limited to our most recent highlights, 
    ensuring that every time you visit, you see the very best of what our museum has to offer.
  </p>
</section>


<hr>
<section class="section">
  <h2 class="title is-3">Museum Gallery</h2>
  {{#each collections}}
    {{#each ../users}}
      {{#if (eq this._id ../id)}}
        <h2 class="title is-4"><strong>{{this.firstName}} {{this.lastName}}</strong> Collection</h2>
        
        <div class="swiper-container user-gallery-{{../id}}" style="width:100%; height:auto;">
          <div class="swiper-wrapper">
            {{#each ../images}}
                <div class="swiper-slide">
                  <div class="card p-1">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{{url}}" alt="{{image}}">
                      </figure>
                    </div>

                    <div class="card-content">
                      <p class="is-size-7 has-text-centered"><strong>Name: {{image}}</strong></p>
                      <p class="is-size-7 has-text-centered"><strong>Museum: {{museumTitle}}</strong></p>
                      <p class="is-size-7 has-text-centered"><strong>Exhibition: {{exhibitionTitle}}</strong></p>
                      <p class="is-size-7 has-text-centered"><strong>Date: {{date}}</strong></p>
                      <p class="is-size-7 has-text-centered"><strong>By: @{{userName}}</strong></p>
                      <p class="is-size-7 has-text-centered text-muted">{{size}}</p>

                      <form action="/galleries/sendpostcard/{{id}}" method="POST" style="margin-top: 10px;">
                        <div class="field has-addons">
                          <div class="control is-expanded">
                            <input 
                              class="input is-small" 
                              type="email" 
                              name="recipientEmail" 
                              placeholder="Send to email..." 
                              required
                            >
                          </div>
                          <div class="control">
                            <button class="button is-info is-small" type="submit">
                              <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                              </span>
                            </button>
                          </div>
                        </div>
                        <input type="hidden" name="message" value="Check out this artifact from the Museum Gallery: {{url}}">
                      </form>
                    </div>
                  </div>
                </div>
            {{/each}}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      <script>
        document.querySelectorAll('.swiper-container').forEach(function(container) {
          new Swiper(container, {
            navigation: {
              nextEl: container.querySelector('.swiper-button-next'),
              prevEl: container.querySelector('.swiper-button-prev'),
            },
            loop: true,
            slidesPerView: 4

          });
        });
      </script>
      {{/if}}
    {{/each}}
  {{/each}}
</section>

<hr>
<section>
  <h2 class="title is-3">Also check all museums in the Map.</h2>
  {{> leaflet-map-view latitude=this.latitude longitude=this.longitude pov=this.pov title=this.title }}
</section>
