{{> menu active="imageGallery"}}

<section class="section">
  <h1> Hello from MyAppMusems </h1>
  <p>
    Welcome to the Museum Gallery. 
    Our digital archive is designed to bring history to your fingertips. 
    This space is a living collection where curators can upload high-quality snapshots of artifacts and exhibits. 
    To maintain a fast and focused browsing experience, our gallery is limited to our most recent highlights, 
    ensuring that every time you visit, you see the very best of what our museum has to offer.
  </p>
</section>

{{#if showButton}}
  <a href="/imageGallery/click" class="button is-success">Click Me!</a>
{{/if}}

{{!-- REFERENCE: https://stackoverflow.com/questions/51120944/html-form-upload-file --}}
<form action="/imageGallery/uploadimage" method="POST" enctype="multipart/form-data">
 <div class="field">
    <label class="label">Select Museum</label>
    <div class="control">
      <div class="select">
        <select name="museumId" required>
          <option value="">-- Choose a museum --</option>
          {{#each museums}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
  <input class="input" type="file" name="image" accept="image/*">
  <button class="button is-primary" type="submit">Upload to Gallery</button>
</form>

{{#if error}}
  <div class="notification is-danger">
    {{error}}
  </div>
{{/if}}

<hr> <section class="section">
  <h2 class="title is-4">Museum Gallery</h2>
  
  <div class="columns is-multiline">
    {{#each images}}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{url}}" alt="{{image}}">
            </figure>
          </div>
          <div class="card-content">
            <p class="is-size-7 has-text-centered"><strong>Name: {{image}}</strong></p>
            <p class="is-size-7 has-text-centered"><strong>Museum: {{museumTitle}}</strong></p>
            <p class="is-size-7 has-text-centered"><strong>Date: {{date}}</strong></p>
            <p class="is-size-7 has-text-centered text-muted"> {{size}}</p>
          </div>
          {{!-- <a class="button is-info is-small" href="/imageGallery/editimage/{{id}}">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Edit</span>
          </a> --}}
          <a class="button is-danger is-small" href="/imageGallery/deleteimage/{{id}}">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </div>
      </div>
    {{/each}}
  </div>

  {{#unless images}}
    <div class="notification is-info is-light">
      The gallery is currently empty. Upload your first museum artifact above!
    </div>
  {{/unless}}
</section>
