{{#each publicMuseums}}
<div class="box box-link-hover-shadow">
  <div class="columns is-vcentered">

    {{#if latestImageUrl}}
      <div class="column is-narrow">
        <figure class="image is-16by9" style="width:160px;">
          <img src="{{latestImageUrl}}" alt="Latest image for {{title}}">
        </figure>
      </div>
    {{else}}
      <div class="column is-narrow">
        <p>No public image available</p>
      </div>
    {{/if}}

    <div class="column">
      <h2 class="title">{{title}}</h2>
      {{#if description}}<p class="subtitle is-6">{{description}}</p>{{/if}}
      <p class="subtitle is-6">By: {{ownerFirstName}} {{ownerLastName}}</p>
      {{#if latitude}}
      <p class="is-size-7"><strong>Location:</strong> {{latitude}}, {{longitude}}</p>
      {{/if}}
    </div>

    <!-- Review -->
    
    <div class="column is-7">
      <!-- Review Form-->
      <div>
        <form action="/galleries/review/{{_id}}" method="POST">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" name="userText" type="text" placeholder="Leave a Review..." required>
            </div>
            <div class="control">
              <button class="button is-link" type="submit" aria-label="Leave a Review" title="Leave a Review">📝</button>
            </div>
            <!-- Rating -->
            <div>

            </div>
          </div>
          <input type="hidden" name="museumId" value="{{_id}}">
          <input type="hidden" name="reviewerId" value="{{../user._id}}">
        </form>
      </div>
      <div class="swiper review-swiper has-nav-space px-6" data-review-swiper style="width: 100%; overflow: hidden;">
        <div class="swiper-wrapper">
          {{#if reviewList}}
            {{#each reviewList}}
              <div class="swiper-slide">
                <div class="box p-5 is-flex is-flex-direction-column is-flex-grow-1">
                  <p class="is-size-5 has-text-centered">❝{{this}}❞</p>
                  <p class="is-size-7 has-text-centered is-italic">@{{this.authorName}}</p>
                </div>
              </div>
            {{/each}}
          {{else}}
            <div class="swiper-slide">
              <div class="box p-3">
                <p class="is-size-5 has-text-grey">No reviews yet</p>
              </div>
            </div>
          {{/if}}
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

  </div>
</div>
{{/each}}

<!-- Swiper Script to interact with DOM-->
<script>
  document.querySelectorAll('[data-review-swiper]').forEach((container) => {
    // eslint-disable-next-line no-new
    new Swiper(container, {
      slidesPerView: 1,
      spaceBetween: 16,
      watchOverflow: true,
      pagination: {
        el: container.querySelector('.swiper-pagination'),
        clickable: true,
      },
      navigation: {
        nextEl: container.querySelector('.swiper-button-next'),
        prevEl: container.querySelector('.swiper-button-prev'),
      },
      breakpoints: {
        0: { slidesPerView: 1 },    // Only 1 slide on small screens
        600: { slidesPerView: 1 },  // 1 slides on medium
        1024: { slidesPerView: 2 }, // 2 slides on desktop
      },

    });
  });
</script>