{{#each publicMuseums}}
<div class="box box-link-hover-shadow">
  <div class="columns is-vcentered">

    {{#if latestImageUrl}}
      <div class="column is-narrow">
        <figure class="image is-16by9" style="width:160px;">
          <img src="{{latestImageUrl}}" alt="Latest image for {{title}}">
        </figure>
      </div>
    {{else}}
      <div class="column is-narrow">
        <p>No public image available</p>
      </div>
    {{/if}}

    <div class="column">
      <h2 class="title">{{title}}</h2>
      {{#if description}}<p class="subtitle is-6">{{description}}</p>{{/if}}
      <p class="subtitle is-6">By: {{ownerFirstName}} {{ownerLastName}}</p>
      {{#if latitude}}
      <p class="is-size-7"><strong>Location:</strong> {{latitude}}, {{longitude}}</p>
      {{/if}}
      <div class="buttons">
        <form action="/galleries/review/{{_id}}" method="POST">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" name="userText" type="text" placeholder="Leave a Review..." required>
            </div>
            <div class="control">
              <button class="button is-link" type="submit" aria-label="Leave a Review" title="Leave a Review">📝</button>
            </div>
          </div>
          <input type="hidden" name="museumId" value="{{_id}}">
        </form>
      </div>
    </div>

    <!-- Review -->
    <div class="column">
      Hi
    </div>

  </div>
</div>
{{/each}}